---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div> 
    </div>
  </div> 

  <main class="site__content">
    <section class="blog">
      <div class="container">
        <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
          {% for post in site.posts %}
            {% include card.html %}
          {% endfor %}

        </div>
        <br><br><br>
      </div>
    </section>
  </main>

<!-- Meet the team -->
    <!-- <!-- <main> -->
      <div id="content" height: "1500">
        <div class="container">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 ">
              <h2 class="text-4xl font-semibold"style="color:white"><br>Meet the team</h2>
              <p class="text-lg leading-relaxed m-4 text-gray-600"style="color:white">
                Some text.
              </p>
            </div>
          </div>
          <div class="row"></div>
            <div class="col-lg-10/12 col-md-12/12 mx-auto">
              <ul1 class="list-inline text-center">
                <!-- <div class="flex flex-wrap"> -->
                  <li class="list-inline ">
                      <!-- <div class="px-12 inline-block"> -->
                        <img
                          alt=""
                          src="./img/natasa.jpg"
                          class="rounded-circle z-depth-1"
                          style="width: 150px;"
                        />
                        <div class="pt-6 text-center">
                          <h5 class="text-xl font-bold" style="color:white">Nataša</h5>
                          <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"style="color:white">
                            Data
                          </p>
                        <!-- </div> -->
                  </li>
                  <li class="list-inline">
 
                      <!-- <div class="px-12 inline-block"> -->
                        <img
                          alt="..."
                          src="./img/patricia.jpg"
                          class="rounded-circle"
                          style="width: 150px;"
                        />
                        <div class="pt-6 text-center">
                          <h5 class="text-xl font-bold"style="color:white">Patricia</h5>
                          <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"style="color:white">
                            Chemical
                          </p>
                        </div>
                      <!-- </div> -->

                  </li>
                  <li class="list-inline">
                      <!-- <div class="px-12 inline-block"> -->
                        <img
                          alt="..."
                          src="./img/salome.jpg"
                          class="rounded-circle"
                          style="width: 150px;"
                        />
                        <div class="pt-6 text-center">
                          <h5 class="text-xl font-bold"style="color:white">Salome</h5>
                          <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"style="color:white">
                            Chemical?
                          </p>
                        </div>
                      <!-- </div> -->

                  </li>
                  <li class="list-inline">
                      <!-- <div class="px-6"> -->
                        <img
                          alt="..."
                          src="./img/vlad.jpg"
                          class="rounded-circle"
                          style="width: 150px;"
                        />
                        <div class="pt-6 text-center">
                          <h5 class="text-xl font-bold"style="color:white">Vladimir</h5>
                          <p class="mt-1 text-sm text-gray-500 uppercase font-semibold"style="color:white">
                            Energy neering
                          </p>
                        </div>
                      <!-- </div> -->

                  </li>
                  
                <!-- </div> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
  
    
    



